[Desktop Entry]
Type=Application
Version=1.0
Name=InFeRiOr's Input Automator
GenericName=Input Automator
Comment=Configurable click and keypress automation with 60 timers
Exec="/media/inferior321/Files/Documents/Programming Files/Python Programs/inferiors-input-automator/run.sh"
Path=/media/inferior321/Files/Documents/Programming Files/Python Programs/inferiors-input-automator
Icon=input-mouse
Terminal=false
Categories=Utility;
Keywords=autoclicker;automation;macro;input;
StartupNotify=false
